/* Стили для панели */
.navbar-container {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%); /* Центрируем панель по горизонтали */
    background-color: black;
    width: 440px;
    height: 50px; /* Увеличиваем высоту для лучшего отображения */
    display: flex;
    align-items: center; /* Вертикальное выравнивание по центру */
    justify-content: space-around; /* Расстояние между иконками */
    border-radius: 25px; /* Округляем углы */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-container:hover {
    transform: translateX(-50%) translateY(-2px); /* Легкое поднятие панели при наведении */
  }
  
  /* Стили для кнопок с иконками */
  .navbar-button {
    outline: none;
    border: none;
    padding-bottom: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%; /* Округлая форма */
    background-color: transparent;
    display: flex;
    align-items: center; /* Центрируем иконку внутри кнопки */
    justify-content: center;
    color: white;
    font-size: 22px; /* Немного увеличиваем размер иконки */
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .navbar-button:hover {
    transform: translateY(-3px); /* Легкое поднятие кнопки при наведении */
  }
  
  .navbar-button:focus {
    outline: none; /* Убираем контур при фокусе */
  }
  
  /* Убираем маркеры списка */
  .navbar-container ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-container li {
    margin: 0 10px; /* Увеличиваем отступы между иконками */
  }
  